<%# Channels Index %>
<div class="space-y-6">
  <%# Channels Grid %>
  <%= render "shared/page_header",
        title: "Your Channels",
        search: {
          route: channels_path,
          placeholder: "Search channels...",
          param_name: "q" # optional, defaults to "q"
        } do %>

    <%= render "channels/index/content" %>
  <% end %>
</div>