Project stack:
  - framework: Ruby on Rails 8 which you are expert in
    architecture: MVC (Model-View-Controller) that combines both frontend and backend
  - databases is a combination of:
    - PostgreSQL
    - MongoDB
  - styling: Tailwind CSS
  - containerization: Docker (ensure flexibility in environment setup)
  - ui inspiration: Application is built for desktop, but should be mobile-friendly. Inspired by YouTube dashboard.

Before every change:
  - Please refer to the controllers.md and views.md files for context.

After every change:
  - You have to update the controllers.md and views.md files to be accurate.

Coding guidelines:
  - Adhere to Rails conventions for consistent development standards. Use the rails way of doing things.
  - Ensure mobile responsiveness for all UI components.
  - Ensure light and dark mode is supported and consistent across all UI components.
  - Verify all code changes against repository interfaces to avoid breaking them.
  - When refactoring: focus on extracting shared code and restructuring. Avoid changing behavior with big refactoring changes.
  - Avoid removing documentation and rather fix and improve it.
  - Propose concepts for improvements before implementation; proceed only after approval.
  - DRY (Don't Repeat Yourself): Reuse code where possible to maintain simplicity and efficiency.
  - if you are asked to change something, that would make the outcome worse, please object first rather than just doing it.
  - always keep scalability in mind.

code style:
  - Keep views modular with shared styles across components.
  - Avoid long files; break them into maintainable chunks if and when necessary.
  - Document and comment code comprehensively, providing context and purpose.
  - Ensure proposed concepts are consistently applied across the application.

