<div id="debug"
     data-youtube-target="debug"
     class="fixed bottom-4 right-4 bg-black bg-opacity-75 text-white p-4 rounded-lg z-50">
  <p>Debug Info:</p>
  <p data-youtube-target="debugTime">Current Time: -</p>
  <p data-youtube-target="debugState">Player State: -</p>
</div>