<div class="bg-white rounded-lg shadow p-4 lg:p-6 border border-gray-100">
  <div class="flex items-center justify-between">
    <h2 class="text-xl lg:text-lg font-semibold">Summary</h2>
    <div class="flex items-center space-x-2">
      <span class="text-sm text-gray-600">Rate This</span>
      <%= render "rating_stars", rating: summary[:rating], votes: summary[:votes] %>
    </div>
  </div>
</div>