<div data-controller="youtube" data-youtube-video-id-value="<%= @summary[:video_id] %>">
  <%= render "debug" if Rails.env.development? %>

  <div class="max-w-6xl mx-auto px-4 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <%= render "left_column", summary: @summary %>
      <%= render "right_column", summary: @summary %>
    </div>
  </div>
</div>