<%# Search Index with centered layout %>

<%= render "shared/centered_search_layout",
    heading: "Search Videos",
    subheading: "Search your videos by using one or multiple keywords" do %>

  <%= render "shared/search_form",
      url: search_index_path,
      method: :get,
      field: :q,
      value: @query,
      placeholder: "Search videos..." %>

  <%# Search Results %>
  <% if @query.present? %>
    <div class="mt-8">
      <%= render "shared/section",
            title: "Search Results",
            subtitle: pluralize(@videos&.length || 0, "result") do %>
        <%= render "shared/search_results",
              videos: @videos,
              highlight_terms: @search_terms,
              loading: @loading %>
      <% end %>
    </div>
  <% end %>
<% end %>