<%# Usage: render "shared/image", src: image_url, alt: alt_text %>

<div class="relative pb-[56.25%] overflow-hidden">
  <%= image_tag src,
        alt: local_assigns[:alt],
        class: "absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-200",
        loading: "lazy" %>
</div>