<%# About Page Description %>

<div class="space-y-6">
  <p>
Youtupedia is a fresh take on how we interact with YouTube content. Imagine a space where every YouTube video or channel gets its own open page—a place you can visit to revisit the topics covered, dive deeper into the details, and find relevant information you might have missed. It's like Wikipedia, but tailored for YouTube, with a touch of AI-powered insight inspired by popular AI tools.


  </p>

  <p>
The idea is simple: to make it easier to explore, learn, and connect with YouTube contents in ways which were never possible before.
  </p>

  <p>
Youtupedia is still in its early stages, but we're excited to see where it goes. We're working hard to bring you the best experience possible, and delivering more features every day.
  </p>

</div> 