<!-- Left Column -->
<div class="space-y-6">
  <%= render "summaries/show/rating_section", summary: @summary_data unless true %>
  <div data-summary-loader-target="tldr">
    <%= render "summaries/show/tldr_section", summary: @summary_data %>
  </div>
  <div data-summary-loader-target="takeaways">
    <%= render "summaries/show/takeaways_section", summary: @summary_data unless @summary_data[:error] %>
  </div>
  <div data-summary-loader-target="summary">
    <%= render "summaries/show/summary_section", summary: @summary_data unless @summary_data[:error] %>
  </div>
</div>